/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* colors */
    --white-color: #fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray:#ccc;
    
    /* font size */
    
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* font weight */
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /* border radius */
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /* Site max width */

    --site-max-width:1300px; 
}

/* Styling for whole project */

ul {
    list-style: none;

}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Navbar styling */

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu { 
    display: flex;
    gap : 15px;
    flex-direction: row-reverse;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m); 
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color:  var(--primary-color);
    background: var(--secondary-color);
}
.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/* Hero section */

.hero-section {
    background: var(--primary-color);
    min-height: 100vh;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;

}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    direction: rtl;
}

.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
    direction: rtl;
}

.hero-section .hero-details .buttons {
    /* width: 50%; */
    display: flex;
    gap: 25px;
    /* align-items: center;
    justify-content: space-between; */
    
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.2s ease;
}

.hero-section .hero-details .button:hover, .hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}

/* About us SEction */

.about-section {
    padding: 120px;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-section .about-image-wraper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    font-size: var(--font-size-m);
    text-align: right;
}

.about-section .about-details .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .about-details .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition:  0.2s ease;
}

.about-section .about-details .social-link:hover {
    color: var(--secondary-color);
}

/* menu section */

.menu-section {
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: center;
    
}


.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
} 

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}


/* comment section */

.comment-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.comment-section .comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
}

.comment-section .comment .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    margin-bottom: 50px;
}

.comment-section .comment .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.comment-section .comment .feedback {
    line-height: 25px;
}

.comment-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}
 
.comment-section .swiper-slide-button{
    color: var(--secondary-color);
    transition: 0.3s ease;
    margin-top: -100px;
}

.comment-section .swiper-slide-button:hover{
    color: var(--primary-color)
}

.comment-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;

}

/* Gallery section */

.gallery-section {
    padding: 50px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 3 - 32px);
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image{
    transform: scale(1.3);
}

 /* Responsive of 1024 px */

 @media screen and ( max-width:1024px ){

    /* menu section */

    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        
        width: calc(100% / 3 - 60px);
    }
 }

 /* Responsive of 900 px */

 @media screen and ( max-width:900px ) {

    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: inline-block;
        font-size: var(--font-size-l);
    }
    
    .navbar #menu-close-button {
        position: absolute;  
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        background: var(--white-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        transition: left 0.3s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 17px;
    }

    /* hero section */

    .hero-section .section-content {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 50px;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-top: 100px;
        margin-right: 0;
    }
    
    .hero-section .hero-details :is(.subtitle, .description){
        max-width: 100%;

    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    /* About US */

    .about-section .section-content {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .about-section .about-image-wraper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }

    .about-section .about-details {
        max-width: 100%;
    }

    /* menu section */

    .menu-section .menu-list {
        gap: 30px;
    }

    .menu-section .menu-list .menu-item {
        
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }

    /* gallery section */

    .gallery-section .gallery-list {
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }
 }

 /* Responsive of 650 px */

 @media screen and (max-width: 640px) {
    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        
        width: 100%;
    }

    .comment-section .swiper-slide-button {
        display: none;
    }

    .comment-section .slider-wrapper {
        margin: 0 0 30px;
    }

    /* Gallery section  */

    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

 }

